/* 
set fixed width, remove to set back at 100% of screen size
 */
 
 body{
    width:1000px;
    align-content: center;
}

:root{
    --header:#42e77e;
    --first_section:#ae977a;
    --header_content: #e5c69f;
    --main: #acb4cb;
    --maindarker: #98a0ba;
    --footer: #5d6ea5;
    --buttons: #daa520;
}

/* macro areas */

.site_header{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    height:300px;
    width:100%;
    background-color: var(--header);
}

/* header sections */

#first_section{
    display:flex;
    align-self:baseline;
    width:100%;
    height:50px;
    background-color: var(--first_section);
    flex-wrap:wrap; /* perchè è necessario flex wrap? */
    justify-content:center;
    align-content: center;
}

#first_section div {
    background-color: var(--buttons);
}

/* header elements */

#links{
    width:125px;
    height:30px;
}

#logo{
    width:125px;
    height:30px;
}

#login{
    width:350px;
    height:30px;
}

#header_content{
    display:flex;
    width: 45%;
    height: 50%;
    background-color: var(--header_content);
}





.site_main{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    width:100%;
    background-color: var(--main);
}

.site_main :nth-child(even){
    background-color: var(--maindarker);
}

/* main sections */

#main_first{
    width:100%;
    height: 350px;
}

#main_second{
    width:100%;
    height: 450px;
}

#main_third{
    width:100%;
    height: 350px;
}

#main_fourth{
    width:100%;
    height: 750px;
}

.site_footer{
    width:100%;
    height: 350px;
    background-color: var(--footer);
}

