/* 
set fixed width:
*/
body{
    width:1000px;
}
 
:root{
    --header:#42e77e;
    --header-section1:#ae977a;
    --header_section2: #e5c69f;
    --main: #acb4cb;
    --maindarker: #98a0ba;
    --footer:#5d6ea5;
    --header_buttons: #daa520;
    --mainbox1: #747782;
    --mainbox2: #d26676;
    --mainbox3: #228b22;
    --footerbox1: #f08080;
    --footerbox2: #20b2aa;
    --footerbox4: #7fffd4;
}

/* header sections */

.site_header{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    height:300px;
    width:100%;
    background-color: var(--header);
}

#header_section1{
    display:flex;
    flex-wrap:wrap;
    align-self:baseline;
    justify-content:center;
    align-content: center;
    width:100%;
    height:50px;
    background-color: var(--header-section1);
}

#header_section1 div {
    background-color: var(--header_buttons);
}

#header_section2{
    display:flex;
    width: 450px;
    height: 200px;
    background-color: var(--header_section2);
}

/* header elements */

#links{
    text-align: center;
    width:350px;
    height:30px;
}

#logo{
    width:125px;
    height:30px;
}

#login{
    width:125px;
    height:30px;
}

/* main sections */

.site_main{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: var(--main);
}

.site_main :nth-child(even){
    background-color: var(--maindarker);
}

#main_section1{
    display:flex;
    flex-wrap:wrap;
    height: 350px;
    justify-content: center;
    align-content:center;
}

#main_section2{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content:center;
    flex-wrap:wrap;
    width:100%;
    height: 450px;
}

#main_section3{
    display:flex;
    justify-content: center;
    align-content:center;
    flex-wrap:wrap;
    width:100%;
    height: 350px;
}

#main_section4{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    width:100%;
    height: 550px;
}

/* main elements */

#box1 {
    height:250px;
    width:350px;
    order:1;
    background-color: var(--mainbox1);
}

#box2 {
    height:250px;
    width:250px;
    order:2;
    background-color: var(--mainbox2);
}

#box3 {
    height:450px;
    width:600px;
    background-color: var(--mainbox3);
}

/* footer sections */

.site_footer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    height: 500px;
    background-color: var(--footer);
}

#footer_section1{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    height:400px;
}

#footer_section2{
    display:flex;
    flex-wrap: wrap;
}

/* footer elements */

#footer_box1{
    width:150px;
    height:300px;
    background-color: var(--footerbox1);
}

#footer_box2{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width:450px;
    height:300px;
    background-color: var(--footerbox2);
}

#box2_column{
    border: dashed 1px;
}

#footer_box3{
    display:flex;
    flex-wrap:wrap;
    align-self: flex-end;
    justify-content:space-between;
    align-content:center;
    width:600px;
    height:50px;
    background-color: var(--footerbox2);
}

#box3_logo{
    width:40px;
    height:20px;
    background-color: var(--footerbox4);
}

#box3_button{
    width:40px;
    height:20px;
    background-color: var(--footerbox4);
}

hr{
    height:1px;
    width:100%;
}